@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Rubik:wght@400;500;700&display=swap');

html {
  font-family: 'Roboto Condensed', sans-serif;
  font-family: 'Rubik', sans-serif;
}

body {
  margin: 0;
  background-color: #f1faee;
}